{% extends 'base.html' %}
{% block content %}

<section class="pf-v5-c-page__main-section pf-m-light">
  <h1>Change Password</h1>
</section>

<section class="pf-v5-c-page__main-section pf-m-fill">
  <div class="center-form">
    <form method="post" class="pf-v5-c-form">
      {% csrf_token %}
      <section class="pf-v5-c-form__section" role="group">
        {% for field in form %}
          <div class="pf-v5-c-form__group">
            <div class="pf-v5-c-form__group-label">
              <div class="pf-v5-c-form__group-label">
                <label class="pf-v5-c-form__label" for="form-vertical-name">
                  <span class="pf-v5-c-form__label-text">{{ field.label }}</span>
                </label>
              </div>
            </div>
            <div class="pf-v5-c-form__group-control">
              <span class="pf-v5-c-form-control pf-m-required">
                {{ field }}
              </span>
              {% if field.errors %}
                <small class="error has-text-danger">{{ field.errors|striptags }}</small>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
      <div class="pf-v5-c-form__group pf-m-action">
        <div class="pf-v5-c-form__actions">
          <button class="pf-v5-c-button pf-m-primary" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>

  {% include 'messages.html' with messages=messages %}

  <div class="mt-5">
    <a href="{% url 'feedback:profile-detail' %}" class="button is-text">
      Update Profile
    </a>
  </div>

</section>

{% endblock %}
