{% load static %}
<header class="pf-v5-c-masthead" id="page-demo-basic-masthead">
  <div class="pf-v5-c-masthead__main">
      <a class="pf-v5-c-masthead__brand white" href="{% url 'feedback:root' %}" style="text-decoration: none;">
        <i class="fas fa-comment fa-2x" aria-hidden="true"></i>
        <div style="font-family: RedHatDisplay; font-weight: 400; font-size: 1.5rem; line-height: 1.3; padding-left: 0.5rem;">
          Smart Feedback
        </div>
      </a>
  </div>
  <div class="pf-v5-c-masthead__content">
    <div class="pf-v5-c-toolbar pf-m-full-height pf-m-static" id="page-demo-basic-masthead-toolbar">
        <div class="pf-v5-c-toolbar__content">
            <div class="pf-v5-c-toolbar__content-section">
                <div class="pf-v5-c-toolbar__group pf-m-icon-button-group pf-m-align-right pf-m-spacer-none pf-m-spacer-md-on-md">
                    <div class="pf-v5-c-toolbar__item pf-m-hidden-on-lg">
                        <button class="pf-v5-c-menu-toggle pf-m-plain" type="button" aria-expanded="false" aria-label="Actions">
                            <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="pf-v5-c-toolbar__item pf-m-hidden pf-m-visible-on-sm">
                    {% if user.is_authenticated %}
                    <button class="pf-v5-c-menu-toggle pf-m-full-height" type="button" aria-expanded="false">
                        <span class="pf-v5-c-menu-toggle__icon">
                            <img class="pf-v5-c-avatar" alt="Avatar image" src="{% static 'images/img_avatar-light.svg' %}" />
                        </span>
                        <span class="pf-v5-c-menu-toggle__text">
                          <a class="white" href="{% url 'feedback:profile-detail' %}">
                            {{ user.get_username }}
                          </a>
                        </span>
                    </button>
                    {% else %}
                    <button class="pf-v5-c-menu-toggle pf-m-full-height" type="button" aria-expanded="false">
                      <a class="white" href="{% url 'login' %}">
                        Login
                      </a>
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
