{% extends 'base.html' %}
{% block content %}

<section class="pf-v5-c-page__main-section pf-m-light">
  <h1>Feedback</h1>
  <p>Detail</p>
</section>

<section class="pf-v5-c-page__main-section pf-m-fill">
  {% include 'messages.html' with messages=messages %}
  <div class="pf-v5-c-card" id="card-basic-example">
    <div class="pf-v5-c-card__title">
      <h2 class="pf-v5-c-card__title-text">
      Comment {{ object.pk }}
      </h2>
    </div>
    <div class="pf-v5-c-card__body">
      <ul
        class="pf-v5-c-data-list"
        role="list"
        aria-label="Basic data list example"
        id="data-list-basic"
      >
        <li class="pf-v5-c-data-list__item">
          <div class="pf-v5-c-data-list__item-row">
            <div class="pf-v5-c-data-list__item-content">
              <div class="pf-v5-c-data-list__cell">
                <span>Comment</span>
              </div>
              <div class="pf-v5-c-data-list__cell">{{ object.body }}</div>
            </div>
          </div>
        </li>

        <li class="pf-v5-c-data-list__item">
          <div class="pf-v5-c-data-list__item-row">
            <div class="pf-v5-c-data-list__item-content">
              <div class="pf-v5-c-data-list__cell">
                <span>Sentiment</span>
              </div>
              <div class="pf-v5-c-data-list__cell">
                {% if object.sentiment == 'Positive' %}
                  <i class="fas fa-thumbs-up fa-lg" style="color: green;"></i>
                {% elif object.sentiment == 'Negative' %}
                  <i class="fas fa-thumbs-down fa-lg is-danger" style="color: red;"></i>
                {% else %}
                  {{ object.sentiment }}
                {% endif %}
              </div>
            </div>
          </div>
        </li>

        <li class="pf-v5-c-data-list__item">
          <div class="pf-v5-c-data-list__item-row">
            <div class="pf-v5-c-data-list__item-content">
              <div class="pf-v5-c-data-list__cell">
                <span>Created At (UTC)</span>
              </div>
              <div class="pf-v5-c-data-list__cell">
                {{ object.updated_at }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="pf-v5-c-card__footer">
      <a href="{% url 'feedback:feedback-update' object.id %}" class="pf-v5-c-button pf-m-secondary">
        Update
      </a>
      <a href="{% url 'feedback:feedback-delete' object.id %}" class="pf-v5-c-button pf-m-secondary">
        Delete
      </a>
      <a href="{% url 'feedback:feedback-listing' %}" class="pf-v5-c-button pf-m-secondary">
        View All
      </a>
    </div>
  </div>
</section>

{% endblock %}
