{% extends 'base.html' %}
{% block content %}

<section class="pf-v5-c-page__main-section pf-m-light">
  <h1>Feedback</h1>
  <p>Delete</p>
</section>

<section class="pf-v5-c-page__main-section pf-m-fill">
  <div class="center-form">
    <form method="post" class="pf-v5-c-form">
      {% csrf_token %}
      <section class="pf-v5-c-form__section" role="group">
        <p>Are you sure you want to delete? This cannot be undone.</p>
      </section>
      <div class="pf-v5-c-form__group pf-m-action">
        <div class="pf-v5-c-form__actions">
          <button class="pf-v5-c-button pf-m-danger" type="submit">Delete</button>
        </div>
      </div>
    </form>
  </div>

  <div class="mb-5 mt-5">
    <a href="{% url 'feedback:feedback-detail' object.id %}" class="button is-text">
      View
    </a>
  </div>
</section>

{% endblock %}
