{% extends 'base.html' %}
{% block content %}

<section class="pf-v5-c-page__main-section pf-m-light">
  <h1>Feedback</h1>
  <p class="subtitle">
    {% if form.instance.id %}
    Update
    {% else %}
    New
    {% endif %}
  </p>
</section>

<section class="pf-v5-c-page__main-section pf-m-fill">
  <form method="post" class="pf-v5-c-form">
    {% csrf_token %}
    <section class="pf-v5-c-form__section" role="group">
      {% for field in form %}
        <div class="pf-v5-c-form__group">
          <div class="pf-v5-c-form__group-control">
            <span class="pf-v5-c-form-control pf-m-required">
              {{ field }}
            </span>
            {% if field.errors %}
              <small class="error has-text-danger">{{ field.errors|striptags }}</small>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
    <div class="pf-v5-c-form__group pf-m-action">
      <div class="pf-v5-c-form__actions">
        <button class="pf-v5-c-button pf-m-primary" type="submit">Save</button>
      </div>
    </div>
  </form>

  <br />

  <div class="field is-grouped">
    {% if form.instance.pk %}
    <p class="control">
      <a href="{% url 'feedback:feedback-detail' object.id %}" class="button is-text">
        View
      </a>
    </p>
    {% endif %}

    <p class="control">
      <a href="{% url 'feedback:feedback-listing' %}" class="button is-text">
        View All
      </a>
    </p>
  </div>
</section>

{% endblock %}
