{% extends 'base.html' %}
{% block content %}

<section class="pf-v5-c-page__main-section pf-m-light">
  <h1>Feedback</h1>
  <p>Listing</p>
</section>

<section class="pf-v5-c-page__main-section pf-m-fill">
  <div class="field is-grouped">
    <p class="control">
      <a href="{% url 'feedback:feedback-new' %}" class="button is-secondary">
        New
      </a>
    </p>
  </div>

  <table
    class="pf-v5-c-table pf-m-grid-md"
    role="grid"
    aria-label="This is a simple table example"
    id="table-basic"
  >
    <caption class="pf-v5-c-table__caption">All Feedback</caption>
    <thead class="pf-v5-c-table__thead">
      <tr class="pf-v5-c-table__tr" role="row">
        <th class="pf-v5-c-table__th" role="columnheader" scope="col">Comment</th>
        <th class="pf-v5-c-table__th" role="columnheader" scope="col">Sentiment</th>
        <th class="pf-v5-c-table__th" role="columnheader" scope="col">Created At (UTC)</th>
      </tr>
    </thead>

    <tbody class="pf-v5-c-table__tbody" role="rowgroup">
      {% for obj in object_list %}
        <tr class="pf-v5-c-table__tr" role="row">
          <td class="pf-v5-c-table__td" role="cell" data-label="Comment" >
            <a href="{% url 'feedback:feedback-detail' obj.id %}" class="">
              {{ obj.body }}
            </a>
          </td>
          <td class="pf-v5-c-table__td" role="cell" data-label="Sentiment">
            {% if obj.sentiment == 'Positive' %}
              <i class="fas fa-thumbs-up fa-lg" style="color: green;"></i>
            {% elif obj.sentiment == 'Negative' %}
              <i class="fas fa-thumbs-down fa-lg is-danger" style="color: red;"></i>
            {% else %}
              {{ obj.sentiment }}
            {% endif %}
          </td>
          <td class="pf-v5-c-table__td" role="cell" data-label="Created At (UTC)">{{ obj.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page_obj.paginator.num_pages > 1 %}
  <div class="pf-v5-c-pagination">
    <nav
      class="pf-v5-c-pagination__nav"
      aria-label="Pagination nav - top example"
    >
      {% if page_obj.has_previous %}
        <div class="pf-v5-c-pagination__nav-control pf-m-first">
          <a
            href="?page=1"
            class="pf-v5-c-button pf-m-plain"
            type="button"
            disabled
            aria-label="Go to first page"
          >
            <i class="fas fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </div>
        <div class="pf-v5-c-pagination__nav-control pf-m-prev">
          <a
            href="?page={{ page_obj.previous_page_number }}"
            class="pf-v5-c-button pf-m-plain"
            type="button"
            disabled
            aria-label="Go to previous page"
          >
            <i class="fas fa-angle-left" aria-hidden="true"></i>
          </a>
        </div>
      {% endif %}

      <div class="pf-v5-c-pagination__nav-page-select">
        <span class="pf-v5-c-form-control">
          <input
            aria-label="Current page"
            type="number"
            value="{{ page_obj.number }}"
            disabled
          />
        </span>
        <span aria-hidden="true">of {{ page_obj.paginator.num_pages }}</span>
      </div>

      {% if page_obj.has_next %}
        <div class="pf-v5-c-pagination__nav-control pf-m-next">
          <a
            href="?page={{ page_obj.next_page_number }}"
            class="pf-v5-c-button pf-m-plain"
            type="button"
            aria-label="Go to next page"
          >
            <i class="fas fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        <div class="pf-v5-c-pagination__nav-control pf-m-last">
          <a
            href="?page={{ page_obj.paginator.num_pages }}"
            class="pf-v5-c-button pf-m-plain"
            type="button"
            aria-label="Go to last page"
          >
            <i class="fas fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </div>
      {% endif %}
    </nav>
  </div>
  {% endif %}
</section>

{% endblock %}
