{% extends 'base.html' %}
{% block content %}

<h1 class="title">
  Feedback
</h1>

<h2 class="subtitle">
  Listing
</h2>

<div class="field is-grouped">
  <p class="control">
    <a href="{% url 'feedback:feedback-new' %}" class="button is-secondary">
      New
    </a>
  </p>
</div>

<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <tr>
      <th>
        Comment
      </th>
      <th>
        Sentiment
      </th>
      <th>
        Created At (UTC)
      </th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
      <tr>
        <td class="">
          <a href="{% url 'feedback:feedback-detail' obj.id %}" class="button is-text">
            {{ obj.body }}
          </a>
        </td>
        <td class="">
          {% if obj.sentiment == 'Positive' %}
            <i class="fas fa-thumbs-up fa-lg" style="color: green;"></i>
          {% elif obj.sentiment == 'Negative' %}
            <i class="fas fa-thumbs-down fa-lg is-danger" style="color: red;"></i>
          {% else %}
            {{ obj.sentiment }}
          {% endif %}
        </td>
        <td class="">
          {{ obj.created_at }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if page_obj.paginator.num_pages > 1 %}
<nav class="pagination" role="navigation" aria-label="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
      <a href="?page=1" class="pagination-link">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="pagination-previous">previous</a>
    {% endif %}

    <a href="#" class="current pagination-link is-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </a>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="pagination-next">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock %}
